:root {
    /* Light Theme */
    --color-primary: 98, 0, 238;
    --color-primary-variant: 55, 0, 179;
    --color-secondary: 3, 218, 198;
    --color-secondary-variant: 1, 135, 134;
    --color-background: 255, 255, 255;
    --color-surface: 255, 255, 255;
    --color-error: 176, 0, 32;
    --color-on-primary: 255, 255, 255;
    --color-on-secondary: 0, 0, 0;
    --color-on-background: 0, 0, 0;
    --color-on-surface: 0, 0, 0;
    --color-on-error: 255, 255, 255;
    
    /* Dark theme */
    /* --color-background:  30, 30, 30;
    --color-on-background: 255, 255, 255; */
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 320px;
}

.cookies-agreement {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 24px;
    background-color: #fff;
    box-shadow: -8px 0 8px rgba(0, 0, 0, .1);
}

.cookies-agreement .text {
    padding: 10px;
}

wc-text-input, wc-select {
    margin-bottom: 32px;
}

wc-checkbox {
    margin-bottom: 14px;
}

wc-button {
    margin-top: 24px;
}