body {
    padding: 64px 0;
}

.hidden {
    display: none;
}

.cookies-agreement {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 24px;
    background-color: #fff;
    box-shadow: -8px 0 8px rgba(0, 0, 0, .1);
}

.cookies-agreement .text {
    padding: 10px;
}

.text {
    width: 100%;
    padding: 0 24px;
    overflow: hidden;
    max-width: 560px;
    margin-bottom: 32px;
}

.brand {
    display: inline-flex;
    font-size: 24px;
    margin-bottom:13px;
    color: rgb(var(--color-primary));
    text-decoration: none;
    font-weight: bolder;
    letter-spacing: 1px;
}

.title {
    color: rgba(var(--color-secondary-variant));
    font-size: 28px;
    text-transform: capitalize;
    margin-bottom: 14px;
}

.description {
    font-size: 18px;
    color: rgba(var(--color-on-background), .6);
    line-height: 24px;
}

.alert {
    display: none;
}

.alert.is-active {
    display: inline-flex;
    color: rgb(var(--color-error));
    animation: shake 120ms ease-in-out 3;
}

.alert.checkbox {
    margin-bottom: 14px;
}

wc-button.next {
    background-color: rgb(95, 74, 161);
}

@keyframes shake {
    from {
        transform: translateX(-5%);
    }
    to {
        transform: translateX(5%);
    }
}