body {
    height: 100%;
    justify-content: center;
}

[slot="icon"] {
    fill: rgb(var(--color-secondary-variant));
}

wc-button.submit {
    background-color: rgb(var(--color-secondary-variant));
}

wc-button.edit {
    background-color: rgb(var(--color-primary-variant));
}