/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap'); */

:root {
    /* Light Theme */
    --color-primary: 248, 68, 79;
    --color-primary-variant: 44, 146, 228;
    --color-secondary: 120, 189, 196;
    --color-secondary-variant: 1, 44, 61;
    --color-background: 255, 255, 255;
    --color-surface: 255, 255, 255;
    --color-error: 176, 0, 32;
    --color-on-primary: 247, 248, 243;
    --color-on-secondary: 0, 0, 0;
    --color-on-background: 0, 0, 0;
    --color-on-surface: 0, 0, 0;
    --color-on-error: 255, 255, 255;
    
    /* Dark theme */
    /* --color-background:  30, 30, 30;
    --color-on-background: 255, 255, 255; */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
}

wc-text-input, wc-select {
    margin: 14px;
}

wc-checkbox {
    margin: 14px;
}

wc-button {
    margin: 10px;
}