@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');

:root {
    --color-primary: 248, 68, 79;
    --color-primary-variant: 95, 74, 161;
    --color-secondary: 120, 189, 196;
    --color-secondary-variant: 1, 44, 61;
    --color-background: 255, 255, 255;
    --color-surface: 255, 255, 255;
    --color-error: 255, 0, 46;
    --color-on-primary: 247, 248, 243;
    --color-on-secondary: 0, 0, 0;
    --color-on-background: 0, 0, 0;
    --color-on-surface: 0, 0, 0;
    --color-on-error: 255, 255, 255;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html {
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
}

wc-text-input,
wc-select,
wc-checkbox,
wc-button {
    margin-bottom: 14px;
}

.description__start {
    color: rgb(var(--color-primary-variant));
    font-weight: bolder;
}