@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
    /* Light Theme */
    --color-primary: 98, 0, 238;
    --color-primary-variant: 55, 0, 179;
    --color-secondary: 3, 218, 198;
    --color-secondary-variant: 1, 135, 134;
    --color-background: 255, 255, 255;
    --color-surface: 255, 255, 255;
    --color-error: 176, 0, 32;
    --color-on-primary: 255, 255, 255;
    --color-on-secondary: 0, 0, 0;
    --color-on-background: 0, 0, 0;
    --color-on-surface: 0, 0, 0;
    --color-on-error: 255, 255, 255;
    
    /* Dark theme */
    /* --color-background:  30, 30, 30;
    --color-on-background: 255, 255, 255; */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 64px;
    overflow-y: scroll;
}

wc-text-input, wc-select {
    margin: 14px;
}

wc-checkbox {
    margin: 14px;
}

wc-button {
    margin: 10px;
}